.plant-card {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	/* border: #AD55A6 2px solid; */
}

.plant-card-image-container {
	height: 200px;
	width: 200px;
	border-radius: 20px;
	position: relative;
	overflow:hidden;
}

.plant-card-image {
	height: 200px;
	width: 200px;
	border-radius: 20px;
	object-fit: cover;
  	transition: transform 0.3s ease-in-out;

}

.plant-card-image-container:hover .plant-card-image {
	transform:scale(1.20);
	cursor: pointer;
}

.card-sales-badge {
    position: absolute;
    right: 0px;
    top: 10px;
    font-weight: 500;
    color: white;
    padding: 0.3rem 0.3rem;
    background-color: #31b572;
    border-radius: 8px;
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	/* font-size: 0.8rem; */
}

.card-sales-badge:hover {
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
